@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/*start*/
.menu{
    width: 1280px;
    margin: 0 auto;
}
body{
    background-color:#E0FFFF;
}

.content{
    width: 100%;
}
nav{
    margin-bottom: 50px;
}
.content_2{
    margin: 0 auto;
    display:flex;
    width: 1220px;
    height: 100%;
}
/* Dropdown Button */
.dropbtn {
    background-color: 	#20B2AA;
    color: white;
    padding: 9px;
    font-size: 16px;
    border: none;
    margin-right:5px;
    border-radius:5px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #008B8B;}


.a_category{
    font-weight:bold;
    font-size:20px;
    color:#15ac6d;
    
}
.a_category:hover{
    color:#0286a4;
}
.katalog{
    margin:0 auto;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 990px;
    height: 100%;
}
.tovar{
    margin-left: 10px;
    margin-top: 10px;
    padding: 3px;
    width: 300px;
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0.207);
    background-color: #ADD8E6;
}
.tovar:hover{
    padding: 3px;
    width: 300px;
    height: 450px;
    border:2px solid #008B8B
}
.img{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 300px;

    margin-bottom: 10px;
}
img{
    margin: auto;
    display: block;
    width: 250px;
    height: 250px;
}
.text{

    padding-left: 20px;
    width: 290px;
    height: 130px;

}
.text_name{
    height: 70px;
    width: 270px;

}
.text_category{
    height: 30px;
    width: 270px;
}
.text_price{

    height: 30px;
    width: 250px;

}
.name_tovar{
    font-family: "Futura",sans-serif;
    color: #111;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    white-space: normal;
}
.name_tovar:hover{
    font-family: "Futura",sans-serif;
    color: #008B8B;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.category_text{
    font-size: 12px;
    color: #8d8c8c;
    line-height: 20px;

}
.price{
    color:#228B22;
    font-size: 20px;
    font-weight: bold;

}
/*detail*/
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    background-color: #008080;
    border-radius: 5px;
    padding: 5px 20px;
 }

.detail_img{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
    margin-bottom: 10px;

}
.detail_img_tovar{
    width:auto;
    height: 505px;


}
.detail_text{
    padding-left: 30px;
    width: 600px;
    height: 100%;
    margin-bottom: 10px;

}
.detail_name{
    width: 100%;
    height: 100px;

}
.detail_name_tovar{
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px;
    color: #111;
    display: block;
}
.detail_price{
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    height: 50px;

}
.price_detail{
    font-family: "Futura",sans-serif;
    color:#228B22;;
    font-weight: bold;
    font-size: 25px;
    height: 100%;
}
.detail_number{
    margin-top: 20px;
    width: 100%;
    height: 50px;

}

input[type="number"] {
    text-align: center;
	height: 38px;
	line-height: 26px;
	text-indent: 6px;
}
label {
    display: block;
  }
#number-tovar{
    border:1px solid #9E9E9E;
    border-radius: 5px;
    color: #000000;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: Verdana;

}
.detail_button{
    margin-top: 20px;
    width: 100%;
    height: 40px;

}
.detail_info{
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
.info_text{
    font-size: 20px;
    line-height: 25px;
}
footer{
    margin-top: 100px;
}
.log_div{
    height: 30px;
    display:flex;

}
.user_a {
  border-radius: 3px;
  border: 1px solid white;
  color: #40E0D0;
  padding: 2px 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.user_a:hover {
  background-color: #555;
  color: white;
}


/*end*/
/*table*/
.content_3{
    margin: 0 auto;
    width: 1220px;
    height: 100%;
}
table {
    width:100%;
    text-align: center;
    margin: 0 auto;
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    }
    th {
    padding: 10px 20px;
    background: #1b973e;
    color: #F9C941;
    border-right: 2px solid;
    font-size: 0.9em;
    }
    th:first-child {
    text-align: left;
    }
    th:last-child {
    border-right: none;
    }
    td {
    vertical-align: middle;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-top: 2px solid #1b973e;
    border-bottom: 2px solid #1b973e;
    border-right: 2px solid #1b973e;
    }
    td:first-child {
    border-left: 2px solid #1b973e;
    border-right: none;
    }
    td:nth-child(2){
    text-align: left;
    }
    .img_table{
        height: 100%;
        width: 150px;
    }
    .middle{
        padding-left: 250px;
        padding-right: 250px;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 35px;
        display: flex;
      }



/*end*/


#subheader {
    background:#fff;
    border-radius: 5px;
    color:#444;
    padding:5px 50px;
    overflow:auto;
}



#header .logo {
    font-family: 'Ubuntu', sans-serif;
    float:left;
    color:#333;
    font-size:22px;
    margin-right:10%;
}






